:root{
    --card-background: #2a1f1a;
    --active-stat-color: #ffd700;
    --letters-color: #fdf5e6;
    --background: #0a0704;


    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, body, #app, main {
    height:100%;
    background:var(--background);
    color: var(--letters-color);
}
